!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MachGift
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body#mach-gift.skin-blue.sidebar-mini
    %div.wrapper
      %header.main-header
        %a.logo{href: '#'}
          %span.logo-lg
            マッハギフト
        %nav.navbar.navbar-static-top
          %div.navbar-custom-menu
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                  %i.fa.fa-bell-o
                  %span.label.label-danger 4
      %div.content-wrapper
        = yield
